@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
  
  :root {
    --color-green: rgba(53, 171, 130, 0.5);
    --color-white: #FFFFFF;
    --color-grey: #BCBCBC;
    
}
main {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-indez: -1;
  background-image: linear-gradient(
      115deg,
      rgba(193, 193, 193, 0.8),
      rgba(205, 205, 205, 0.5)
    ), url(https://s3-eu-west-1.amazonaws.com/tpd/logos/5fdc7991dbee30000157f8f0/0x0.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;}
  
#survey-form {
  background-color: var(--color-green);
  z-index: 0;
  margin: 0px 15px 0px 15px;
  padding: 0px 5px 0px 5px;
  color: white;
}
.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: white;
  border-radius: 0px;
  cursor: pointer;
}
#comments {
  width: 100%;
  text-align: center;
  min-height: 100px;
}
p, #number-label, #name-label, #email-label {
  font-size: 1.2em;
}
.tip {
  font-size: 0.7em;
}
.input-radio, .input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem
}
