@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@412&display=swap');

main{
  font-family: 'Maven Pro', sans-serif;
  color: ;
  text-align: center;
}
header {
  position: relative;
  justify-content: space-around;
  padding: 0px 20px;
  width: 100%;
}
#email {
  width: 30%
}
#form {
  margin: 10px auto;
}
.button {
  background-color: #DF330F;
  color: white;
  width: 30%;
}
#courses button {
 width: 100%;
}
#header-img {
  width: 30%;
}
#id-bar {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  margin: auto;
  position: fixed;
  background-color:#DF330F;
  width: 25%;
  border-radius: 5px;
  border: 1px solid;
  height: auto;
  
}
a {
  color: white;
}

footer {
  background-color: #CCCCCC;
  margin: 0;
  padding: 30px;
  text-align: center;
}
span {
  text-align: left;
}
ul {
  list-style: none;
}
.level {
  font-size: 1.5em;
  font-weight: bold;
  background-color: #CCCCCC;
  height: 40px;
}
#courses {
  padding: 40px 0px 40px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  
  
}
iframe {
  width: 90%;
  border-radius: 15px;
  margin-top: 35px;
}
.product {
  border: 3px solid #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px 0px 10px 0px;
  border-radius: 10px;
}
.contact-links {
  display: flex;
  flex-direction: row;
}
footer a {
  padding: 30px;
}
.grid {
  display: grid;
  border
}
.head {
  width: 80%;
  text-align: center;
  align-items: center;
  margin: auto;
}
h1:hover {
  transform: translateY(8px);
}
