@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

:root {
  --color-blue: #6BA3C0;
  --color-darkblue: #005E8F;
  --color-greyishblue: #8399A4;
  
}
main {
  font-family: 'Playfair Display', serif;
  text-align: center;
}
.nav {
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  
}
.nav-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: #1F2B67;
  width: 100%;
  font-size: 20px;
}
#welcome-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #616CCE;
}
.nav-list a:hover {
  background-color: #7C7C7C;
}
a {
  text-decoration: none;
}

.nav-list a {
  display: block;
  padding: 30px;
  
  color: white;
}
#welcome-section p {
  color: #1F2B67;
  font-size: 20px;
  font-weight: bolder;
}
h1 {
  color: white;
  font-size: 45px;
}
h4 {
  color: white;
  font-size: 30px;
  margin: 0px;
  padding: 40px;
}
#contact {
  background-color: #DBDBDB;
  color: #1F2B67;
  border-radius: 5px;
  padding: 15px;
}
#projects {
  background-color: #1F2B67;
}
#projects a {
  color: white;
  margin: 35px;
}
.contact-details:hover {
  transform: translateY(10px);
}
.contact-details {
  margin: 25px;
  color: #1F2B67;
}
.contact-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #1F2B67;
  font-size: 25px;
  
}
footer {
  border: 2px solid;
  border-color: #1F2B67;
}
.project-image {
  width: 100%;
  margin: 0px;
  height: auto;
}
.projects-grid {
  display: grid;
  
  grid-gap: 0px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  grid-radius: 5px;
}
.project-title {
  font-size: 25px;
  text-decoration: underline;
  font-style: italic;
  background-color: #7C7C7C;
  border-radius: 5px;
  height: 80px;
  padding: 15px;
  
}
.code {
  color: #7C7C7C;
  transition: color 0.3s ease-out;
}
.project-title:hover .code {
  color: white;
}
#projects {
  border-radius: 2px;
}
