
 @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@412&family=STIX+Two+Text&display=swap');
/*'STIX Two Text', serif;*/

#all {
  font-family: 'STIX Two Text', serif;
  line-height: 1.5;
  color: #000;
  width: 100%;
  padding: 15px;
  margin: 15px;
}
h1 {
  text-align: center;
  font-size: 1.8em;
}
#navbar {
  position: relative;
  width: 100%;
  border: 2px solid #000;
  top: 0px;
  left: 0px;
  font-size: 1.2em;
  padding: 15px;
}
#navbar a {
  display: block;
  color: black;
  
}
#navbar ul {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  height: 150px;
}
#navbar li {
  list-style: none;
  position: relative;
  border-top: 1px solid #000;
  width: 100%;
  height: 25%;
}
#main-doc {
  position: absolute;
  
}
header {
  font-size: 25px;
  text-decoration: underline;
  font-weight: thin;
  font-style: italic;
}
#pros_cons {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin: 10px;
  padding: 50px;
  
}
.pros {
  background-color: #93B485;
}
.cons {
  background-color: #B48585;
}
h4 {
  margin: 15px 0px 0px 15px;
  font-style: italic;
  font-size: 25px;
}
