html {
  /*setting a base font to equal to 1em*/
  font-size: 15px;
  font-family: "roboto";
  line-height: 1.5em;
}
h1, h3, h5, cite, footer, div {
  text-align: center;
}
main {
  background-color: #D4D4D4;
  margin: 0px 0px 0px 0px;
}
div {
  background-color: white;
  padding: 1em;
  margin: 0;
}
#img {
  max-width: 100%;
  display: block;
  margin: auto;
}
a {
  color: black;
}
a:hover {
  color: dark grey;
}
footer {
  margin-bottom: 2em;
}
